{% macro input(name, value, type = "text", class = "", ) %}
    <label for="{{ name|lower }}">{{ __(name)|capitalize }}</label>
    <input id="{{ name|lower }}" name="{{ name|lower }}" value="{{ value }}" type="{{ type }}" class="{{ class }}" required>
{% endmacro %}

{% macro date(date) %}
    {{ date.isoFormat("dddd D MMMM YYYY") }}
{% endmacro %}
