{% extends "base" %}
{% import "macros" as mac %}

{% block styles %}
    <style>
        .actions {
            display: flex;
            /*justify-content: space-evenly;*/
            flex-direction: row;
        }
    </style>
{% endblock %}

{% block body %}
    {% if topic %}
        <div>
            <label for="name"> <h1>{{ __("name") }}</h1> </label>
            {% if edit == true %}
                <form action="{{ app.request.uri|trim('/edit', 'right') }}/update" method="post">
                    <input id="name" value="{{ topic.name }}" name="name" class="input-field" />
                    <input type="hidden" name="_token" value="{{ csrf_token() }}" />
                    <button type="submit" value="submit">update</button>
                </form>
                <div class="actions">
                    <form action="{{  app.request.uri|trim('/edit', 'right') }}" method="get"><button type="submit" value="submit">show</button> </form>
                    <form action="{{ app.request.uri|trim('/edit', 'right') }}" method="post">
                        <input type="hidden" name="_token" value="{{ csrf_token() }}" />
                        <button type="submit" value="submit">delete</button>
                    </form>
                    <form action="{{  app.request.uri|trim('/edit', 'right') }}/back" method="get"><button type="submit" value="submit">back</button></form>
                </div>
            {% else %}
                <input id="name" value="{{ topic.name }}" name="name" class="input-field"  disabled />
                <div class="actions">
                    <form action="{{  app.request.uri }}/edit" method="get"><button type="submit" value="submit">edit</button></form>
                    <form action="{{ app.request.uri }}" method="post">
                        <input type="hidden" name="_token" value="{{ csrf_token() }}" />
                        <button type="submit" value="submit">delete</button>
                    </form>
                    <form action="{{  app.request.uri }}/back" method="get"><button type="submit" value="submit">back</button></form>
                </div>
            {% endif %}

            <form action="{{ replace(app.request.uri, '(/topics/.)') }}/comments/?topic={{ topic.id }}"><button type="submit" value="submite">Place a comment</button></form>

        </div>
    {% else %}
        <h1>Something went wrong...</h1>
    {% endif %}
{% endblock %}
